<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
<!-- configSections 只能有一个, 并且必须只能作为第一个根元素 -->
  <configSections>
    <sectionGroup name="BlogEngine">
      <section name="blogProvider" requirePermission="false"
               type="ProviderTest.BlogProviderSection, ProviderTest"
               allowDefinition="MachineToApplication" restartOnExternalChanges="true" />

      <section name="blogFileSystemProvider" requirePermission="false"
              type="ProviderTest.FileSystemProvider.BlogFileSystemProviderSection, ProviderTest"
              allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>


  <BlogEngine>
    <blogProvider defaultProvider="XmlBlogProvider" fileStoreProvider="DbBlogProvider">
      <providers>
        <add description="Xml Blog Provider" name="XmlBlogProvider" type="ProviderTest.XmlBlogProvider, ProviderTest" />
        <add description="Sql Database Provider" name="DbBlogProvider" connectionStringName="BlogEngine"
             type="ProviderTest.DbBlogProvider, ProviderTest"/>
      </providers>
    </blogProvider>

    <blogFileSystemProvider defaultProvider="XmlFileSystemProvider">
      <providers>
        <add description="Xml Blog Provider" name="XmlFileSystemProvider"
             type="ProviderTest.FileSystemProvider.XmlFileSystemProvider, ProviderTest" />
      </providers>
    </blogFileSystemProvider>
  </BlogEngine>

  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  
</configuration>