@{
    ViewBag.Title = "_HomeLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3" style="padding-top:20px">
            <ul class="nav nav-list">
                <li>@Html.ActionLink("设置", "Index", "Admin")</li>
            </ul>
        </div><!--/span-->
        <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
            @RenderBody()
        </div>
    </div>

@RenderSection("scripts", required: false)