
@model List<mvcIdentity.Areas.SuperAdmin.Model.RoleViewModel>


@{
    ViewBag.Title = "Index";
}


<div>
    <table>
        <tr>
            <th>
                角色名称
            </th>
            <th>
                角色描述
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>
</div>


