<!DOCTYPE html>
<html charset="utf-8">
<script src= "http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2>我的备忘录</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="新增">
    <input type="submit" value="新增">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">删除记录</button></p>

<script>
var app = angular.module('myApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{todoText:'Clean House', done:false}];	// 定义一个数组

    $scope.todoAdd = function() {
        $scope.todoList.push({todoText:$scope.todoInput, done:false});	// 将对象添加到数组内
        $scope.todoInput = "";		// 清空输入框
    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];						// 清空数组，后面重新填充
        angular.forEach(oldList, function(x) {		// x 表示数组里面的一个对象元素
            if (!x.done) $scope.todoList.push(x);
        });
    };
});
</script>

</body>
</html>
